<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script>
    </script>
  </head>
  <body>

    <h1>Signup to Sell and Bid on Items!!!</h1>

    <%= form_for(@user) do |f| %>
      <p>
        <%= f.label :username %>
        <%= f.text_field :username, placeholder: "Enter username" %>
      </p>
      <p>
        <%= f.label :email %>
        <%= f.email_field :email, placeholder: "Enter email" %>
      </p>
      <p>
        <%= f.label :password %>
        <br>
        <%= f.password_field :password, placeholder: "Enter password" %>
      </p>

      <p>
        <%= f.submit "Sign Up"%>
      </p>

    <% end %>
    <br>


  </body>
</html>
