<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
      <%= link_to "Biddr", root_path, class: "navbar-brand", id: "logo" %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li><%= link_to 'Auctions', auctions_path %></li>
        <li><%= link_to 'Sell an Item', auctions_new_path %></li>
        <li><%= link_to 'View your Profile', user_path(current_user) %></li>
        <li><%= link_to 'Log out', logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Log In', login_path %></li>
        <li><%= link_to 'Sign up', signup_path %></li>
      <% end %>



      </ul>
  </div><!-- /.container-fluid -->
</nav>
